body{
   margin: 0;
   padding: 0;
   background: url("../images/bg.jpg") no-repeat center/cover fixed;
   font-family: Arial, sans-serif;
}

.content-block{
   width: 30vw;
   min-width: 320px;
   margin: 30px auto;
   padding: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #dddddd99;
   border-radius: 30px;
   flex: 0 0 320px;
}

input{
   font-size: 20px;
   margin: 15px 0 5px; 
   width:15vw;
   min-width: 200px;
   border-radius: 5px;
   border:2px solid rgba(128, 128, 128, 0.555);
}
input::placeholder{
   font-size: 16px;
}

h1, h2, h3{
   margin:0;
   padding: 0;
}
h2{
   margin-bottom: 15px;
}
button {
   margin: 10px 0 20px;
   width:5vw;
   min-width: 100px;
   height: 30px;
   border-radius: 5px;
   border:none;
   border:2px solid rgba(128, 128, 128, 0.555);
   cursor: pointer;
   font-size: 16px;
   color:rgb(63, 63, 63)
}

button:hover{
   background-color: rgb(212, 212, 212);
}